html,body{
    margin:0px;
    height: 100%;
}
.container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
}
.wrap1{
    background-color:beige;
    text-align: center;
}
.wrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
}
.calculator{
    height: 600px;
    width: 400px;
    border: 10px black solid;
    border-radius: 8px;
    display:grid;
    grid-template-columns: repeat(3,1);
    background-color: black;
    color: black;
    font-weight: 900;
    box-sizing: border-box;

}
#display{
    border: 20px black solid;
    border-radius: 8px;
    margin-bottom: -16px;
    height:140px;
    width:400px;
    font-size: 50px;
    box-sizing: border-box;
    color:black;
    background-color: grey;
    display: flex;
    align-items:center;
    justify-content: right;
    
}
#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #add, #subtract, #multiply, #divide, #equals, #clear{
    display:flex;
    height: auto;
    align-items:center;
    justify-content: center;
    font-size: 50px;
    border: 2px black solid;
    border-radius: 10%;
    margin:10px;
    background-color: grey;
    color: white;
}
#equals{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end: 7;
    
}
#clear{
    grid-column-start: 1;
    grid-column-end: 3;
}