html,body{
    margin:0px;
    height: 100%;
}
.container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
}
.wrap1{
    background-color:beige;
    text-align: center;
}
.wrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
}
.calculator{
    height: 600px;
    width: 400px;
    border: 10px black solid;
    border-radius: 8px;
    display:grid;
    grid-template-columns: repeat(3,1);
    background-color: black;
    color: black;
    font-weight: 900;
    box-sizing: border-box;

}
#display{
    
    border: 20px black solid;
    border-radius: 8px;
    margin-bottom: -16px;
    height:140px;
    width:400px;
    font-size: 50px;
    box-sizing: border-box;
    color:black;
    background-color: grey;
    display: flex;
    align-items:center;
    justify-content: right;
    border-top:0;
    
}
#display2{
    border: 20px black solid;
    border-radius: 8px;
    margin-bottom: -16px;
    height:40px;
    width:400px;
    font-size: 20px;
    box-sizing: border-box;
    color:black;
    background-color: grey;
    display: flex;
    align-items:center;
    justify-content: right;
    border-bottom:0;
}
.numbers, .operators,#decimal{
    display:flex;
    height: auto;
    align-items:center;
    justify-content: center;
    font-size: 50px;
    border: 2px black solid;
    border-radius: 10%;
    margin:10px;
    background-color: grey;
    color: white;
}
#equals{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end: 6;
    
}
.row1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 2;

    display:flex;
    height: auto;
    align-items:center;
    justify-content: center;
}
#back, #clear{
    display:flex;
    height: auto;
    align-items:center;
    justify-content: center;
    font-size: 30px;
    border: 2px black solid;
    border-radius: 10%;
    margin:10px;

    min-width:150px;
    min-height:50px;
    background-color: grey;
    color: white;
}
.plus{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:6;
    grid-row-end: 8;
}
#equals{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:7;
    grid-row-end: 8;
}
.numbers:hover,#decimal:hover{
    background-color: green;
    transition:0.3s;
}
.operators:hover{
    background-color: magenta;
    transition:0.3s;
}
#equals:hover{
    background-color: gold;
    transition:0.3s;
}
#clear:hover,#back:hover{
    background-color: darkred;
    transition:0.3s;
}
button:active, #decimal:active, #clear:active,#back:active{
    color:black;
    box-shadow: 5px 5px #666;
    transform: scale(1.1);
  }
